<%@ page contentType="text/html;charset=UTF-8" %>

  <!--Diseño de la página web. Definición de los menús desplegables-->
  <nav id="menuDesplegable" class="navbar navbar-expand-lg  navbar-dark bg-primary">
    <a class="navbar-brand" href="/padelunion">Inicio</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
            Información
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/padelunion/calculanivel/funcionamiento.jsp">Niveles</a>
            <a class="dropdown-item" href="">Reglas de juego</a>
            <a class="dropdown-item" href="/padelunion/parts/aprende.jsp">Aprende y diviértete</a>
            <a class="dropdown-item" href="">Pistas de la ciudad</a>
            <a class="dropdown-item" href="">Objetivo de la aplicación</a>

          </div>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
            Tablón de anuncios
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="">Oferta de material deportivo</a>
            <a class="dropdown-item" href="">Carteles de torneos</a>
            <a class="dropdown-item" href="">Foro</a>
          </div>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
            ¿Quieres conocer tu nivel?
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/padelunion/calculanivel/edit.jsp">Calcula tu nivel</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
            Partidos
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/padelunion/partido/list.jsp">Listado</a>
            <a class="dropdown-item" href="/padelunion/partido/mispartidos.jsp">Mis Partidos</a>
            <a class="dropdown-item" href="/padelunion/partido/create.jsp">Nuevo Partido</a>
          </div>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
            Centros
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/padelunion/centro/list.jsp">Listado</a>
            <a class="dropdown-item" href="/padelunion/centro/create.jsp">Nuevo Centro</a>
          </div>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
            Partido Datos
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/padelunion/partido/datospartidos.jsp">Listado</a>
            <a class="dropdown-item" href="/padelunion/partido/create.jsp">Nuevo Partido</a>
          </div>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
            Pistas
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/padelunion/pista/list.jsp">Listado</a>
            <a class="dropdown-item" href="/padelunion/pista/create.jsp">Nueva Pista</a>
            <a class="dropdown-item" href="/padelunion/parts/codigo.html">Pistas por centro</a>

          </div>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Usuarios
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/padelunion/usuario/list.jsp">Listado</a>
            <a class="dropdown-item" href="/padelunion/usuario/create.jsp">Nueva Usuario</a>
            
          </div>
        </li>

      </ul>
    </div>

    <div align="right">
      <div class="collapse navbar-collapse" id="navbarSupportedContent1">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item dropdown">
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#dobleModal" data-whatever="login">Log in</button>
          </li>
        </ul>
      </div>
    </div>
  </nav>



  <div class="modal fade" id="dobleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">

          <ul class="nav nav-pills " id="pills-tab" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" id="login-pill-tab" data-toggle="pill" href="#login-pill" role="tab" aria-controls="login-pill"
                aria-selected="true">Login</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="registro-pill-tab" data-toggle="pill" href="#registro-pill" role="tab" aria-controls="registro-pill"
                aria-selected="false">Registro</a>
            </li>
          </ul>

          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">



          <div class="tab-content" id="pills-tabContent">

            <div class="tab-pane fade show active" id="login-pill" role="tabpanel" aria-labelledby="login-pill-tab">
              <form id="loginform" method="POST" action="#">
                <div class="form-group">
                  <label for="login-email" class="col-form-label">Email:</label>
                  <input name="email" type="text" class="form-control" id="login-email">
                </div>
                <div class="form-group">
                    <label for="login-password" class="col-form-label">Contraseña:</label>
                    <input name="clave" type="password" class="form-control" id="login-password" />
                </div>
                <input type="hidden" name="loginform" value="loginform">
              </form>

            </div>

            <div class="tab-pane fade" id="registro-pill" role="tabpanel" aria-labelledby="registro-pill-tab">
              <form id="registroform" method="POST" action="#">
                <div class="form-group">
                  <label for="reg-name" class="col-form-label">Nombre:</label>
                  <input name="nombre" type="text" class="form-control" id="reg-name">
                </div>
                <div class="form-group">
                    <label for="reg-apellidos" class="col-form-label">Apellidos:</label>
                    <input name="apellidos" type="text" class="form-control" id="reg-apellidos">
                </div>
                <div class="form-group">
                    <label for="reg-nacimiento" class="col-form-label">Fecha de nacimiento:</label>
                    <input name="nacimiento" type="date" class="form-control" id="reg-nacimiento">
                </div>
                <div class="form-group">
                    <label for="reg-mano" class="col-form-label">¿Eres diestro o zurdo?:</label>
                      <select class="form-control">
                        <option name="manoDiestra" class="form-control" id="reg-manoDiestra" value="0">Diestro</option>
                        <option name="manoZurda" class="form-control" id="reg-manoZurda" value="1">Zurdo</option>
                      </select>
                </div>
                <div class="form-group">
                    <label for="reg-sexo" class="col-form-label">Sexo:</label>
                    <select class="form-control">
                        <option name="sexoMasculino" class="form-control" id="reg-sexoMasculino" value="0">Masculino</option>
                        <option name="sexoFemenino" class="form-control" id="reg-sexoFemenino" value="1">Femenino</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="reg-telefono" class="col-form-label">Teléfono:</label>
                    <input name="telefono" type="text" class="form-control" id="reg-telefono">
                </div>
                <div class="form-group">
                    <label for="reg-email" class="col-form-label">Email:</label>
                    <input name="email" type="text" class="form-control" id="reg-email">
                </div>
                <div class="form-group">
                  <label for="reg-password" class="col-form-label">Contraseña:</label>
                  <input name="pass_confirmation" data-validation="length" data-validation-length="min8" id="reg-contrasena1" type="password" class="form-control" />
                </div>
                <div class="form-group">
                    <label for="reg-password" class="col-form-label">Verificar contraseña:</label>
                    <input name="pass" data-validation="confirmation" id="reg-contrasena2" type="password" class="form-control"/>
                </div>
                <input type="hidden" name="registerform" value="registerform">
              </form>
            </div>

          </div>
        </div>

        <div class="modal-footer">
            <button id="envioModalLogin" type="button" class="btn btn-primary">Enviar</button>
            <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
        </div>

      </div>
    </div>
  </div>
