
/* estilos.css */

img.imgprincipal{
    height: 100px;
    width: 100px;
    text-align: center;
}

.pelotas{
    height: 30%;
    width: 30%;
}

div.principal{
    padding-top: 25px;
    padding-bottom: 25px;
    display: inline-block;
}
table.principal {
    width: 99%;
   
}

h1.titulo{

    line-height: 90px;
    color: white;
}


div.contenedor {
    border: 1px  blue;
    text-align: center;
           
}
h5.video {
    color: blue;
    font-size: 20px;
}
img.cartel{
    width: 80%;
    border : solid rgb(169, 169, 177);
    border-radius: 5px;
}

img.carteltorneopadel{
    width: 80%;
    height: 92%;
    border : solid rgb(169, 169, 177);
    border-radius: 5px;
}

img.cartelpadelmania{
    width: 80%;
    height: 70%;
    border : solid rgb(169, 169, 177);
    border-radius: 5px;
}

/*tabla_listado {
   
    margin-bottom: 50px;
}

h1 {
    margin-bottom: 30px;
}

body{
    background-color: rgb(209, 212, 209);
}

div.separador50 {
    height: 50px;
} */

