/*David css*/

div.containerPartido {
    background-color: blueviolet;
}

div.paradia {

    text-align: center;
}


.ec-stars-wrapper {
	/* Espacio entre los inline-block (los hijos, los `a`) 
	   http://ksesocss.blogspot.com/2012/03/display-inline-block-y-sus-empeno-en.html */
	font-size: 0;
	/* Podríamos quitarlo, 
		pero de esta manera (siempre que no le demos padding), 
		sólo aplicará la regla .ec-stars-wrapper:hover a cuando
		también se esté haciendo hover a alguna estrella */
	display: inline-block;
}
.ec-stars-wrapper a {
	text-decoration: none;
	display: inline-block;
	/* Volver a dar tamaño al texto */
	font-size: 32px;
	font-size: 2rem;
	
	color: #888;
}

.ec-stars-wrapper:hover a {
	color: rgb(39, 130, 228);
}
/*
 * El selector de hijo, es necesario para aumentar la especifidad
 */
.ec-stars-wrapper > a:hover ~ a {
	color: #888;
}

figure.portada {
	border: 1px solid rgb(0, 102, 255);
	
	width: 250px;
	text-align: center;
	background-color: white;
	}

figure.portada img {
width: 300px;
border-radius: 10px;
}

img.imgcentro {
	border: 2px rgb(0, 155, 211) solid;
	width: 150px;
	height: 150px;
	border-radius: 10px;
}
/* 
.principal{
	border: 2px rgb(0, 0, 0) solid;
	border-radius: 10px;
} */