.pistapadel {
    position: relative;
    width: 100%;
    max-width: 400px;
}

.pistapadel img {
    width: 100%;
    height: auto;
}

/* .container .btn1:hover {
  background-color: rgb(100, 212, 209);
}

.container .btn2:hover {
  background-color: rgb(100, 212, 209);
}

.container .btn3:hover {
  background-color: rgb(100, 212, 209);
}

.container .btn4:hover {
  background-color: rgb(100, 212, 209);
} */

.pistapadel .btnx {
    position: absolute;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    width: 42px;
    height: 42px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
    background-image: url("../img/disponible.png");
    background-repeat:no-repeat;
}

.pistapadel .btn1, .pistapadel .btn1modal {
    top: 32.5%;
    left: 38%;
}

.pistapadel .btn2, .pistapadel .btn2modal {
    top: 66.5%;
    left: 38%;
}

.pistapadel .btn3, .pistapadel .btn3modal {
    top: 32.5%;
    left: 62.75%;
}

.pistapadel .btn4, .pistapadel .btn4modal {
    top: 66.5%;
    left: 62.75%;
}


.btnx.ocupado {
    /* background-color:rgb(252, 133, 133);  */
    background-image: url("../img/ocupado.png");
    background-repeat:no-repeat;
}

.ocultatexto{
    display: none;
}

.headerUserEdit, .headerUserPistas, .headerUserComentarios {
    color: #36A0FF;
    font-size: 27px;
    padding: 10px;
}

.modal-header, .modal-footer{
    background-color: rgb(133, 196, 252);
}

.modal-body{
    background-color: rgb(198, 229, 255);
}