
/* estilos.css */

.navbar {
    margin-bottom: 70px;
}

#tabla_listado {
   
    margin-bottom: 50px;
}

h1 {
    margin-bottom: 30px;
}

body{
background: rgba(175,230,247,1);
background: -moz-linear-gradient(left, rgba(175,230,247,1) 0%, rgba(255,255,255,1) 19%, rgba(175,230,247,1) 41%, rgba(255,255,255,1) 63%, rgba(175,230,247,1) 84%, rgba(255,255,255,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(175,230,247,1)), color-stop(19%, rgba(255,255,255,1)), color-stop(41%, rgba(175,230,247,1)), color-stop(63%, rgba(255,255,255,1)), color-stop(84%, rgba(175,230,247,1)), color-stop(100%, rgba(255,255,255,1)));
background: -webkit-linear-gradient(left, rgba(175,230,247,1) 0%, rgba(255,255,255,1) 19%, rgba(175,230,247,1) 41%, rgba(255,255,255,1) 63%, rgba(175,230,247,1) 84%, rgba(255,255,255,1) 100%);
background: -o-linear-gradient(left, rgba(175,230,247,1) 0%, rgba(255,255,255,1) 19%, rgba(175,230,247,1) 41%, rgba(255,255,255,1) 63%, rgba(175,230,247,1) 84%, rgba(255,255,255,1) 100%);
background: -ms-linear-gradient(left, rgba(175,230,247,1) 0%, rgba(255,255,255,1) 19%, rgba(175,230,247,1) 41%, rgba(255,255,255,1) 63%, rgba(175,230,247,1) 84%, rgba(255,255,255,1) 100%);
background: linear-gradient(to right, rgba(175,230,247,1) 0%, rgba(255,255,255,1) 19%, rgba(175,230,247,1) 41%, rgba(255,255,255,1) 63%, rgba(175,230,247,1) 84%, rgba(255,255,255,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#afe6f7', endColorstr='#ffffff', GradientType=1 );
}

@-webkit-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 51%}
    100%{background-position:0% 50%}
}
@keyframes AnimationName { 
    0%{background-position:0% 50%}
    50%{background-position:100% 51%}
    100%{background-position:0% 50%}
}

#preprincipal{
    background-image: url("/padelunion/img/pistapreprincipal.jpg");
    background-repeat:no-repeat;
    background-size: 100% 100%;
}

div.separador50 {
    height: 50px;
    width: 50px;
}

div.separador30 {
    height: 30px;
    width: 30px;
}

div.separador20 {
    height: 20px;
    width: 20px;
}

