html{

    padding:20px;
}

.margenIzquierda40{
    margin-left: -40px;
}

.margenIzquierda75{
    margin-left: -75px;
}

.margenIzquierda{
    margin-left: -70px;
}

.push_buttonimagen{
    position: relative;
    width:250px;
    height:230px; 
    text-align:center;
    color:#FFF;
    text-decoration:none;
    line-height:43px;
    font-size: 30px;
    display: inline-block;
}

img.logo{
    width:250px;
    height:235px;
}

.push_buttonimagen:before{
    background:#525151;
    background-image:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#5fbfff), to(#f0f0f0));
    
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
    
    -webkit-box-shadow:0 1px 2px rgba(0, 0, 0, .5) inset, 0 1px 0 #FFF; 
    -moz-box-shadow:0 1px 2px rgba(0, 0, 0, .5) inset, 0 1px 0 #FFF; 
    box-shadow:0 1px 2px rgba(0, 0, 0, .5) inset, 0 1px 0 #FFF;
    
    position: absolute;
    content: "";
    left: -16px; right: -16px;
    top: -16px; bottom: -20px;
    z-index: -1;
    /* border: 5px #525151 solid;
    border-radius: 10px;
    width:200px;
    height:200px; */
}

/* img.push_button {
    position: relative;
    width:200px;
    height:200px;
    text-align:center;
    color:#FFF;
    text-decoration:none;
    line-height:43px;
    font-size: 30px;
    display: inline-block;

} */

.push_button {
    position: relative;
    width:450px;
    height:100px;
    text-align:center;
    color:#FFF;
    text-decoration:none;
    line-height:43px;
    font-size: 30px;
    display: inline-block;

}
.push_button:before {
    background:#525151;
    background-image:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#525151), to(#f0f0f0));
    
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
    
    -webkit-box-shadow:0 1px 2px rgba(0, 0, 0, .5) inset, 0 1px 0 #FFF; 
    -moz-box-shadow:0 1px 2px rgba(0, 0, 0, .5) inset, 0 1px 0 #FFF; 
    box-shadow:0 1px 2px rgba(0, 0, 0, .5) inset, 0 1px 0 #FFF;
    
    position: absolute;
    content: "";
    left: -16px; right: -16px;
    top: -16px; bottom: -20px;
    z-index: -1;
}

.push_button:active {
    -webkit-box-shadow:0 1px 0 rgba(255, 255, 255, .5) inset, 0 -1px 0 rgba(255, 255, 255, .1) inset;
    top:5px;
}
.push_button:active:before{
    top: -11px;
    bottom: -5px;
    content: "";
}

.green {
    text-shadow:-1px -1px 0 #2C7982;
    background: rgb(39, 116, 80);
    border:1px solid rgb(39, 116, 80);
    
    background-image:-webkit-linear-gradient(top, rgb(147, 253, 207), rgb(0, 179, 110));
    background-image:-moz-linear-gradient(top, rgb(147, 253, 207), rgb(0, 179, 110));
    background-image:-ms-linear-gradient(top,rgb(147, 253, 207), rgb(0, 179, 110));
    background-image:-o-linear-gradient(top,rgb(147, 253, 207), rgb(0, 179, 110));
    background-image:linear-gradient(to bottom,rgb(147, 253, 207), rgb(0, 179, 110));
    
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
    
    -webkit-box-shadow:0 1px 0 rgba(255, 255, 255, .5) inset, 0 -1px 0 rgba(255, 255, 255, .1) inset, 0 4px 0 rgb(39, 116, 80), 0 4px 2px rgba(0, 0, 0, .5);
    -moz-box-shadow:0 1px 0 rgba(255, 255, 255, .5) inset, 0 -1px 0 rgba(255, 255, 255, .1) inset, 0 4px 0 rgb(39, 116, 80), 0 4px 2px rgba(0, 0, 0, .5);
    box-shadow:0 1px 0 rgba(255, 255, 255, .5) inset, 0 -1px 0 rgba(255, 255, 255, .1) inset, 0 4px 0 rgb(39, 116, 80), 0 4px 2px rgba(0, 0, 0, .5);
}

.green:hover {
    background:rgb(147, 253, 207);
    background-image:-webkit-linear-gradient(top, rgb(0, 179, 110),rgb(147, 253, 207));
    background-image:-moz-linear-gradient(top, rgb(0, 179, 110),rgb(147, 253, 207));
    background-image:-ms-linear-gradient(top, rgb(0, 179, 110),rgb(147, 253, 207));
    background-image:-o-linear-gradient(top, rgb(0, 179, 110),rgb(147, 253, 207));
    background-image:linear-gradient(top, rgb(0, 179, 110),rgb(147, 253, 207));
}

.purple {
    text-shadow:-1px -1px 0 #2C7982;
    background: rgb(103, 16, 111);
    border:1px solid rgb(103, 16, 111);
    
    background-image:-webkit-linear-gradient(top, rgb(200, 147, 253), rgb(147, 59, 155));
    background-image:-moz-linear-gradient(top, rgb(200, 147, 253), rgb(147, 59, 155));
    background-image:-ms-linear-gradient(top,rgb(200, 147, 253), rgb(147, 59, 155));
    background-image:-o-linear-gradient(top,rgb(200, 147, 253), rgb(147, 59, 155));
    background-image:linear-gradient(to bottom,rgb(200, 147, 253), rgb(147, 59, 155));
    
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
    
    -webkit-box-shadow:0 1px 0 rgba(255, 255, 255, .5) inset, 0 -1px 0 rgba(255, 255, 255, .1) inset, 0 4px 0 rgb(103, 16, 111), 0 4px 2px rgba(0, 0, 0, .5);
    -moz-box-shadow:0 1px 0 rgba(255, 255, 255, .5) inset, 0 -1px 0 rgba(255, 255, 255, .1) inset, 0 4px 0 rgb(103, 16, 111), 0 4px 2px rgba(0, 0, 0, .5);
    box-shadow:0 1px 0 rgba(255, 255, 255, .5) inset, 0 -1px 0 rgba(255, 255, 255, .1) inset, 0 4px 0 rgb(103, 16, 111), 0 4px 2px rgba(0, 0, 0, .5);
}

.purple:hover {
    background:rgb(200, 147, 253);
    background-image:-webkit-linear-gradient(top, rgb(147, 59, 155),rgb(200, 147, 253));
    background-image:-moz-linear-gradient(top, rgb(147, 59, 155),rgb(200, 147, 253));
    background-image:-ms-linear-gradient(top, rgb(147, 59, 155),rgb(200, 147, 253));
    background-image:-o-linear-gradient(top, rgb(147, 59, 155),rgb(200, 147, 253));
    background-image:linear-gradient(top, rgb(147, 59, 155),rgb(200, 147, 253));
}

.red {
    text-shadow:-1px -1px 0 #2C7982;
    background:  rgb(138, 52, 52);
    border:1px solid  rgb(138, 52, 52);
    
    background-image:-webkit-linear-gradient(top, rgb(253, 147, 158), rgb(220, 37, 37));
    background-image:-moz-linear-gradient(top, rgb(253, 147, 158), rgb(220, 37, 37));
    background-image:-ms-linear-gradient(top,rgb(253, 147, 158), rgb(220, 37, 37));
    background-image:-o-linear-gradient(top,rgb(253, 147, 158), rgb(220, 37, 37));
    background-image:linear-gradient(to bottom,rgb(253, 147, 158), rgb(220, 37, 37));
    
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
    
    -webkit-box-shadow:0 1px 0 rgba(255, 255, 255, .5) inset, 0 -1px 0 rgba(255, 255, 255, .1) inset, 0 4px 0 rgb(138, 52, 52), 0 4px 2px rgba(0, 0, 0, .5);
    -moz-box-shadow:0 1px 0 rgba(255, 255, 255, .5) inset, 0 -1px 0 rgba(255, 255, 255, .1) inset, 0 4px 0 rgb(138, 52, 52), 0 4px 2px rgba(0, 0, 0, .5);
    box-shadow:0 1px 0 rgba(255, 255, 255, .5) inset, 0 -1px 0 rgba(255, 255, 255, .1) inset, 0 4px 0 rgb(138, 52, 52), 0 4px 2px rgba(0, 0, 0, .5);
}

.red:hover {
    background:rgb(253, 147, 158);
    background-image:-webkit-linear-gradient(top, rgb(220, 37, 37),rgb(253, 147, 158));
    background-image:-moz-linear-gradient(top, rgb(220, 37, 37),rgb(253, 147, 158));
    background-image:-ms-linear-gradient(top, rgb(220, 37, 37),rgb(253, 147, 158));
    background-image:-o-linear-gradient(top, rgb(220, 37, 37),rgb(253, 147, 158));
    background-image:linear-gradient(top, rgb(220, 37, 37),rgb(253, 147, 158));
}

.blue {
    text-shadow:-1px -1px 0 #2C7982;
    background: rgb(0, 128, 135);
    border:1px solid rgb(0, 128, 135);
    background-image:-webkit-linear-gradient(top, rgb(121, 204, 213), rgb(0, 140, 158));
    background-image:-moz-linear-gradient(top, rgb(121, 204, 213), rgb(0, 140, 158));
    background-image:-ms-linear-gradient(top, rgb(121, 204, 213), rgb(0, 140, 158));
    background-image:-o-linear-gradient(top, rgb(121, 204, 213), rgb(0, 140, 158));
    background-image:linear-gradient(top, rgb(121, 204, 213), rgb(0, 140, 158));
    
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
    
    -webkit-box-shadow:0 1px 0 rgba(255, 255, 255, .5) inset, 0 -1px 0 rgba(255, 255, 255, .1) inset, 0 4px 0 rgb(0, 128, 135), 0 4px 2px rgba(0, 0, 0, .5);
    -moz-box-shadow:0 1px 0 rgba(255, 255, 255, .5) inset, 0 -1px 0 rgba(255, 255, 255, .1) inset, 0 4px 0 rgb(0, 128, 135), 0 4px 2px rgba(0, 0, 0, .5);
    box-shadow:0 1px 0 rgba(255, 255, 255, .5) inset, 0 -1px 0 rgba(255, 255, 255, .1) inset, 0 4px 0 rgb(0, 128, 135), 0 4px 2px rgba(0, 0, 0, .5);
}

.blue:hover {
    background: rgb(121, 204, 213);
    background-image:-webkit-linear-gradient(top, rgb(0, 140, 158), rgb(121, 204, 213));
    background-image:-moz-linear-gradient(top, rgb(0, 140, 158), rgb(121, 204, 213));
    background-image:-ms-linear-gradient(top, rgb(0, 140, 158), rgb(121, 204, 213));
    background-image:-o-linear-gradient(top, rgb(0, 140, 158), rgb(121, 204, 213));
    background-image:linear-gradient(top, rgb(0, 140, 158), rgb(121, 204, 213));
}